# Configuration template file. Copy it by removing 'sample' extension to apply upon runtime.
# These configurations will be loaded both under development and production.
# Don't put sensitive information like passwords into source code control!
server:
  port: 8080

spring:
  application:
    name: wave_template_kotlin_spring
  profiles:
    # Empty if 'default'.
    active:
  resources:
    add-mappings: false
  mvc:
    throw-exception-if-no-handler-found: true
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: sa
    password: password
  sql:
    init:
      # Automatic database initialisation. Maybe conflict to hibernate.
      # https://docs.spring.io/spring-boot/docs/current/reference/html/howto-database-initialization.html
      mode: ALWAYS
      schema-locations: classpath:/sql/v1.0/schema/*.sql
      # data-locations: classpath:/sql/v1.0/data/*.sql
  jpa:
    open-in-view: false
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      # Better to use create-drop for integration tests
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format_sql: true

management:
  server:
    add-application-context-header: false

logging:
  file:
    path: /var/log/wave_template_kotlin_spring/
  level:
    ROOT: INFO
